
    <div>
      <h1 class="d-flex justify-content-center text-success">Parcel X Delivery Men App</h1>
    </div>
    <div class="d-flex">

          <div *ngIf="authService.isAuthenticated()">
            <div class="m-2 ">
              <a class="btn btn-outline-success" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            </div>
          </div>

          <div *ngIf="authService.isAuthenticated()&&authService.isMmDelivery()">
            <div class="m-2 ">
              <a class="btn btn-outline-success  " routerLink="/booking-list"  ariaCurrentWhenActive="page">Booking List</a>
            </div>
          </div>

          <div *ngIf="authService.isAuthenticated()&&!authService.isMmDelivery()">
            <div class="m-2 ">
              <a class="btn btn-outline-success  " routerLink="/usa-booking-list"  ariaCurrentWhenActive="page">Usa Booking List</a>
            </div>
          </div>



    </div>
<router-outlet />


<div class="container">



  <div *ngIf="authService.isAuthenticated()">
    <a class="button btn btn-outline-success bg-success-subtle " routerLink="/scan-qr-code"  ariaCurrentWhenActive="page">
      SCAN QR CODE
    </a>
  </div>

  <div *ngIf="authService.isAuthenticated()">
    <a class="button btn btn-outline-success bg-success-subtle ">
      COMPLETED LIST
    </a>
  </div>

  <div *ngIf="authService.isAuthenticated()">
    <a class="button btn btn-outline-success bg-success-subtle ">
      MY PROFILE
    </a>
 </div>

  <div *ngIf="authService.isAuthenticated()">
    <a class="button btn btn-outline-success bg-success-subtle " routerLink="/logout" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
  </div>

</div>
